*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body{
  background-position: center;
  /* font-family: "Trajan Pro" !important;
   */
  font-family: trajan-color, serif !important;
  font-weight: 400;
  font-style: normal;
  color: white !important;
  /* font-weight: bolder; */
  background: url("/images/tanpadaun.png");
  background-size: cover;
}
nav{
  background-color: #319329;
}
.display{
  display: block !important;
}

section{
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  overflow-x: hidden;
  justify-content: center;
  align-items: center;
}
.row{
  --bs-gutter-x: 0rem !important;
  --bs-gutter-y: 0rem !important;
}

.btn{
    height: 50px;
    width: 450px;
    max-width: 100%;
    margin: 4px;
    box-shadow: 1px 1px 5px #888888;
}
.form{
  height: 50px;
  width: 500px;
  max-width: 100%;
  margin: 4px;
  box-shadow: 1px 1px 5px #888888;
}
.bukutwib{
  height: 50px;
  width: 300px;
  max-width: 100%;
  margin: 4px;
  box-shadow: 1px 1px 5px #888888;
}

.btn-sunny {
color: #fff !important;
background-color: #f4ad49 !important;
border-bottom:2px solid #c38a3a !important;
}

.btn-sunny:hover, .btn-sky.active:focus, .btn-sunny:focus, .open>.dropdown-toggle.btn-sunny {
color: #fff;
background-color: #f5b75f;
border-bottom:2px solid #c4924c;
outline: none;
}


.btn-sunny:active, .btn-sunny.active {
color: #fff;
background-color: #d69840;
border-top:2px solid #ab7a33;
margin-top: 2px;
}

.btn:focus,
.btn:active:focus,
.btn.active:focus {
    outline: none;
    outline-offset: 0px;
}

a {color:#fff !important;
  text-decoration:none !important;
  font-family: trajan-color, serif !important;
}
a:hover {text-decoration:none !important; color:#fff !important;}

button{
      font-family: trajan-color, serif !important;
}

.logo img{
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.maskot img{
    display: block;
    width:100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}


h1{
  color:#319329;
  text-shadow: 2px 2px gold;
}

h4{
  color: #f4ad49;
  text-shadow: 1px 1px #319329;
}
/* Footer */
.footer-area {
  padding-top: 60px;
  background: #319329; }
  @media (max-width: 991px) {
    .footer-area {
      padding: 60px 0px; } }
  @media (max-width: 991px) {
    .footer-area .single-footer-widget {
      margin-bottom: 30px; } }
  .footer-area .single-footer-widget p {
    color: #ffffff; }
  .footer-area .single-footer-widget h4 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 25px;
    color: #fff; }
    @media (max-width: 1024px) {
      .footer-area .single-footer-widget h4 {
        font-size: 20px; } }
    @media (max-width: 991px) {
      .footer-area .single-footer-widget h4 {
        margin-bottom: 15px; } }
  .footer-area .single-footer-widget ul li {
    margin-bottom: 10px; }
    .footer-area .single-footer-widget ul li a {
      transition: all 300ms linear 0s;
      color: #888888; }
      .footer-area .single-footer-widget ul li a:hover {
        color: #f84b67; }
  .footer-area .single-footer-widget .form-wrap {
    margin-top: 25px; }
    .footer-area .single-footer-widget .form-wrap .info {
      color: #f84b67; }
  .footer-area .single-footer-widget input {
    height: 40px;
    border: 1px solid #eeeeee;
    width: 67% !important;
    font-weight: 400;
    background: #fff;
    padding-left: 20px;
    border-radius: 0;
    font-size: 14px;
    padding: 10px 22px;
    border-radius: 25px;
    color: #888888;
    margin-right: -25px; }
    .footer-area .single-footer-widget input:focus {
      outline: none;
      box-shadow: none; }
    .footer-area .single-footer-widget input.placeholder {
      font-size: 14px;
      padding-left: 10px;
      color: #888888; }
    .footer-area .single-footer-widget input:-moz-placeholder {
      font-size: 14px;
      padding-left: 10px;
      color: #888888; }
    .footer-area .single-footer-widget input::-moz-placeholder {
      font-size: 14px;
      padding-left: 10px;
      color: #888888; }
    .footer-area .single-footer-widget input::-webkit-input-placeholder {
      font-size: 14px;
      padding-left: 10px;
      color: #888888; }
  .footer-area .single-footer-widget .click-btn {
    border-radius: 24px;
    padding: 6px 21px 4px 14px;
    border: 0;
    background: #f84b67;
    color: #fff;
    position: relative;
    left: 0;
    z-index: 999; }
    .footer-area .single-footer-widget .click-btn i, .footer-area .single-footer-widget .click-btn span {
      font-size: 18px; }
    .footer-area .single-footer-widget .click-btn:focus {
      outline: none;
      box-shadow: none; }
  .footer-area .footer-address span {
    display: block;
    margin-bottom: 15px; }
  .footer-area .footer-logo {
    margin-top: 28px;
    display: inline-block; }
  .footer-area .footer-bottom {
    border-top: 1px solid #4c4f60;
    margin-top: 51px;
    padding: 20px 0; }
    @media (max-width: 991px) {
      .footer-area .footer-bottom {
        margin-top: 20px; } }
    .footer-area .footer-bottom p {
      color: #ffffff; }
      .footer-area .footer-bottom p a {
        color: lightblue !important; }
    .footer-area .footer-bottom .footer-social {
      text-align: center; }
      @media (max-width: 991px) {
        .footer-area .footer-bottom .footer-social {
          text-align: left;
          margin-top: 30px; } }
      .footer-area .footer-bottom .footer-social a {
        margin-left: 3px;
        width: 32px;
        color: #ffffff;
        display: inline-grid;
        text-align: center;
        height: 32px;
        align-content: center;
        transition: all 300ms linear 0s; }
        .footer-area .footer-bottom .footer-social a:hover {
          color: #f84b67; }
        .footer-area .footer-bottom .footer-social a i, .footer-area .footer-bottom .footer-social a span {
          font-size: 14px; }

/* Preloader */
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999999;
  /* background-image: url('/images/bg-brand.jpg'); */
  background: #319329;
  background-size: cover;
  background-repeat: no-repeat;
}
.preloader .loading {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  font: 14px arial;
}
